@model IEnumerable<MaerskCMS_v1.Models.AdminScheduleListViewModel>

@{
    ViewBag.Title = "ShippingSchedule";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Shipping Schedule</h2>

<p>
    @Html.ActionLink("Add New Shipping Schedule", "AddNewSchedule")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VesselName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.POD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.POA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Departure)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Arrival)
        </th>
        <th></th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VesselName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.POD)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.POA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departure)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Arrival)
                </td>
                <td>
                    @Html.ActionLink("Delete", "DeleteSchedule", new { id = item.ID })
                </td>
            </tr>
        }
    }

</table>

@if (Model == null)
{
    <h4>No Shipping Schedule found. </h4>
}